@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  margin-left: 27px;
}

button {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 592px;
  padding: 0 10px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

header {
  border: 1px solid #eee;
  padding: 12px 0;
}

.hero {
  padding-top: 66px;
}

.hero h1 {
  font-weight: 800;
  font-size: 35px;
}

.hero p {
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

.todoList {
  padding-top: 38px;
}

.todoList .addNew {
  padding: 12px 22px;
  background-color: #00f;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.todoList input {
  flex: 1;
  padding: 12px 21px;
  border: 2px #eee solid;
  border-radius: 8px;
  font-weight: 400;
  font-size: 20px;
}

.todoList .items {
  padding-top: 31px;
}

.todoList .todo {
  background-color: #f6f6f6;
  padding: 24px 21px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.todo p {
  font-size: 20px;
  font-weight: 400;
}

.counter {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #666;
}

.counter span {
  font-weight: 800;
  font-size: 20px;
  color: #000;
}